table {
  width: 100%;
  overflow: auto;
}
.mat-header-cell {
  font-size: 1em;
  color: black;
}

.weekDay {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}

.clientsBorder {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}

.ordersBorder {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-header-cell {
  font-size: 1em;
  padding: 0 0.4em;
  color: black;
  border-bottom: none;
}

.mat-header-cell.centered {
  text-align: center;
}

td.mat-cell.centered {
  text-align: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}
