<div class="mat-elevation-z8 data-table">
  <div class="search-div">
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput #filter placeholder="Find Managers">
    </mat-form-field>
  </div>

  <table mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="direction">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Direction</th>
          <td mat-cell *matCellDef="let row">{{row.direction}}</td>
      </ng-container>

      <ng-container matColumnDef="MondayClients">
          <th mat-header-cell *matHeaderCellDef class="centered">Clients</th>
          <td mat-cell *matCellDef="let row" class="centered ">{{row.managers | getClientsCount: this.date.Monday: row.direction}}</td>
      </ng-container>

      <ng-container matColumnDef="MondayOrders">
          <th mat-header-cell *matHeaderCellDef class="centered">Orders</th>
          <td mat-cell *matCellDef="let row" class="centered">{{row.managers | getOrdersCount: this.date.Monday: row.direction}}</td>
      </ng-container>

      <ng-container matColumnDef="TuesdayClients">
          <th mat-header-cell *matHeaderCellDef class="centered">Clients</th>
          <td mat-cell *matCellDef="let row" class="centered">{{row.managers | getClientsCount: this.date.Tuesday: row.direction}}</td>
      </ng-container>
      <ng-container matColumnDef="TuesdayOrders">
          <th mat-header-cell *matHeaderCellDef class="centered">Orders</th>
          <td mat-cell *matCellDef="let row" class="centered">{{row.managers | getOrdersCount: this.date.Tuesday: row.direction}}</td>
      </ng-container>

      <ng-container matColumnDef="WednesdayClients">
          <th mat-header-cell *matHeaderCellDef class="centered">Clients</th>
          <td mat-cell *matCellDef="let row" class="centered">{{row.managers | getClientsCount: this.date.Wednesday: row.direction}}</td>
      </ng-container>
      <ng-container matColumnDef="WednesdayOrders">
          <th mat-header-cell *matHeaderCellDef class="centered">Orders</th>
          <td mat-cell *matCellDef="let row" class="centered">{{row.managers | getOrdersCount: this.date.Wednesday: row.direction}}</td>
      </ng-container>

      <ng-container matColumnDef="ThursdayClients">
          <th mat-header-cell *matHeaderCellDef class="centered">Clients</th>
          <td mat-cell *matCellDef="let row" class="centered">{{row.managers | getClientsCount: this.date.Thursday: row.direction}}</td>
      </ng-container>
      <ng-container matColumnDef="ThursdayOrders">
          <th mat-header-cell *matHeaderCellDef class="centered">Orders</th>
          <td mat-cell *matCellDef="let row" class="centered">{{row.managers | getOrdersCount: this.date.Thursday: row.direction}}</td>
      </ng-container>

      <ng-container matColumnDef="FridayClients">
          <th mat-header-cell *matHeaderCellDef class="centered">Clients</th>
          <td mat-cell *matCellDef="let row" class="centered">{{row.managers | getClientsCount: this.date.Friday: row.direction}}</td>
      </ng-container>
      <ng-container matColumnDef="FridayOrders">
          <th mat-header-cell *matHeaderCellDef class="centered">Orders</th>
          <td mat-cell *matCellDef="let row" class="centered">{{row.managers | getOrdersCount: this.date.Friday: row.direction}}</td>
      </ng-container>

      <ng-container matColumnDef="AnyDayClients">
          <th mat-header-cell *matHeaderCellDef class="centered">Clients</th>
          <td mat-cell *matCellDef="let row" class="centered">{{row.managers | getClientsCount: 'AnyDay': row.direction}}</td>
      </ng-container>
      <ng-container matColumnDef="AnyDayOrders">
          <th mat-header-cell *matHeaderCellDef class="centered">Orders</th>
          <td mat-cell *matCellDef="let row" class="centered">{{row.managers | getOrdersCount: 'AnyDay': row.direction}}</td>
      </ng-container>


      <ng-container matColumnDef="empty">
        <th mat-header-cell *matHeaderCellDef colspan="1"></th>
      </ng-container>

      <ng-container matColumnDef="Monday">
        <th mat-header-cell *matHeaderCellDef colspan="2" class="weekDay centered">{{this.date.Monday | date:'EEEE dd.MM'}}</th>
      </ng-container>

      <ng-container matColumnDef="Tuesday">
        <th mat-header-cell *matHeaderCellDef colspan="2" class="weekDay centered">{{this.date.Tuesday | date:'EEEE dd.MM'}}</th>
      </ng-container>

      <ng-container matColumnDef="Wednesday">
        <th mat-header-cell *matHeaderCellDef colspan="2" class="weekDay centered">{{this.date.Wednesday | date:'EEEE dd.MM'}}</th>
      </ng-container>

      <ng-container matColumnDef="Thursday">
        <th mat-header-cell *matHeaderCellDef colspan="2" class="weekDay centered">{{this.date.Thursday | date:'EEEE dd.MM'}}</th>
      </ng-container>

      <ng-container matColumnDef="Friday">
        <th mat-header-cell *matHeaderCellDef colspan="2" class="weekDay centered">{{this.date.Friday | date:'EEEE dd.MM'}}</th>
      </ng-container>

      <ng-container matColumnDef="AnyDay">
        <th mat-header-cell *matHeaderCellDef colspan="2" class="weekDay centered">AnyDay</th>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="weekDays; sticky: true"></tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
  [length]="dataSource?.filteredData.length"
  [pageIndex]="0"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 50]"
  >
  </mat-paginator>
</div>

<mat-card *ngIf="dataBase.isLoading"
   style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</mat-card>

<div class="example-rate-limit-reached" *ngIf="dataBase.isRateLimitReached">
  API rate limit has been reached.
</div>
