.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav-container {
  background: white;
}

.mat-toolbar {
  background: #3f51b5;
}
.anchorNavItem {
  font-size: 1em;
  padding: 0 1em;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.logOut {
  margin-left: auto;
}

.mat-toolbar .mat-icon-button {
  display: none;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbar {
  position: fixed;
  z-index: 2;
}
