<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['/log-in']" *ngIf="!this.authService.authenticated">Sign In</a>
      <a class="nav-item nav-link" [routerLink]="['/direction_table']">Direction</a>
      <a class="nav-item nav-link" (click)="logOut()" *ngIf="this.authService.authenticated">Log Out</a>
      <a class="userName nav-item nav-link" *ngIf="currentUserName"><h4>Hello {{this.currentUserName}}</h4></a>
    </div>
  </div>
</nav>
