table {
  width: 100%;
  overflow: hidden;
}
.mat-header-cell {
  font-size: 1em;
  color: black;
}

.clientsBorder {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.rightBorder {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-header-cell {
  font-size: 1em;
  padding: 0 0.4em;
  color: black;
  border-bottom: none;
}

.mat-header-cell.centered {
  text-align: center;
}

td.mat-cell.centered {
  text-align: center;
  width: 120px;
}

td.mat-cell:last-of-type {
  padding-right: 0;
}

tr.example-detail-row {
  height: 0;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-description {
  width: 100%;
  padding: 0;
}

.example-element-description {
  width: 100%;
  overflow: auto;
}


@media screen and (max-width: 960px) {
  .mat-table {
    border: 0;
    vertical-align: middle
  }


  /*  Enable this to hide header
  .mat-table .mat-header-cell {

    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  */
  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
  }
  /*
  .mat-table .mat-row:nth-child(even) {background: #CCC}
  .mat-table .mat-row:nth-child(odd) {background: #FFF}
  */
  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    font-weight: bold;
    height:30px;
    margin-bottom: 4%;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
  .mat-table .mat-cell:first-child {
    margin-top: 4%;
  }
}
