<dx-data-grid
    id="gridContainer"
    [dataSource]="dataSource"
    [masterDetail]="{ enabled: true, template: 'showedManagers'}"
    [showBorders]="true"
    [columnAutoWidth]="true"
    [allowColumnReordering]="true"
    [allowColumnResizing]="true"
    [noDataText]="''"
    [sorting]="false"
    (onContentReady)="pagerHandler($event)"
    *ngIf="!dataIsLoading">
    <dxo-search-panel [visible]="true" [width]="240"></dxo-search-panel>
    <dxi-column dataField="direction" caption="Direction" class="direction"></dxi-column>
    <dxi-column caption="{{this.date.Monday | date:'EEEE dd.MM'}}" alignment="center">
      <dxi-column caption="All Clients" dataField="MondayClientsSummaray" alignment="center"></dxi-column>
      <dxi-column caption="All Orders" dataField="MondayOrdersSummaray" alignment="center"></dxi-column>
    </dxi-column>
    <dxi-column caption="{{this.date.Tuesday | date:'EEEE dd.MM'}}" alignment="center">
      <dxi-column caption="All Clients" dataField="TuesdayClientsSummaray" alignment="center"></dxi-column>
      <dxi-column caption="All Orders" dataField="TuesdayOrdersSummaray" alignment="center"></dxi-column>
    </dxi-column>
    <dxi-column caption="{{this.date.Wednesday | date:'EEEE dd.MM'}}" alignment="center">
      <dxi-column caption="All Clients" dataField="WednesdayClientsSummaray" alignment="center"></dxi-column>
      <dxi-column caption="All Orders" dataField="WednesdayOrdersSummaray" alignment="center"></dxi-column>
    </dxi-column>
    <dxi-column caption="{{this.date.Thursday | date:'EEEE dd.MM'}}" alignment="center">
      <dxi-column caption="All Clients" dataField="ThursdayClientsSummaray" alignment="center"></dxi-column>
      <dxi-column caption="All Orders" dataField="ThursdayOrdersSummaray" alignment="center"></dxi-column>
    </dxi-column>
    <dxi-column caption="{{this.date.Friday | date:'EEEE dd.MM'}}" alignment="center">
      <dxi-column caption="All Clients" dataField="FridayClientsSummaray" alignment="center"></dxi-column>
      <dxi-column caption="All Orders" dataField="FridayOrdersSummaray" alignment="center"></dxi-column>
    </dxi-column>
    <dxi-column caption="Any day" alignment="center">
      <dxi-column caption="All Clients" dataField="AnyDayClientsSummaray" alignment="center"></dxi-column>
      <dxi-column caption="All Orders" dataField="AnyDayOrdersSummaray" alignment="center"></dxi-column>
    </dxi-column>
    <div *dxTemplate="let manager of 'showedManagers'">
          <dx-data-grid
              [dataSource]="manager.data.managers"
              [showBorders]="true"
              [columnAutoWidth]="true"
              [sorting]="false">
                  <dxi-column dataField="name" caption="Managers"></dxi-column>
                  <dxi-column caption="{{this.date.Monday | date:'EEEE dd.MM'}}" alignment="center">
                    <dxi-column dataField="Monday.clientsCount" caption="Clients" alignment="center"></dxi-column>
                    <dxi-column dataField="Monday.recOrdersCount" caption="Orders" alignment="center"></dxi-column>
                  </dxi-column>

                  <dxi-column caption="{{this.date.Tuesday | date:'EEEE dd.MM'}}" alignment="center">
                    <dxi-column dataField="Tuesday.clientsCount" caption="Clients" alignment="center"></dxi-column>
                    <dxi-column dataField="Tuesday.recOrdersCount" caption="Orders" alignment="center"></dxi-column>
                  </dxi-column>

                  <dxi-column caption="{{this.date.Wednesday | date:'EEEE dd.MM'}}" alignment="center">
                    <dxi-column dataField="Wednesday.clientsCount" caption="Clients" alignment="center"></dxi-column>
                    <dxi-column dataField="Wednesday.recOrdersCount" caption="Orders" alignment="center"></dxi-column>
                  </dxi-column>

                  <dxi-column caption="{{this.date.Thursday | date:'EEEE dd.MM'}}" alignment="center">
                    <dxi-column dataField="Thursday.clientsCount" caption="Clients" alignment="center"></dxi-column>
                    <dxi-column dataField="Thursday.recOrdersCount" caption="Orders" alignment="center"></dxi-column>
                  </dxi-column>

                  <dxi-column caption="{{this.date.Friday | date:'EEEE dd.MM'}}" alignment="center">
                    <dxi-column dataField="Friday.clientsCount" caption="Clients" alignment="center"></dxi-column>
                    <dxi-column dataField="Friday.recOrdersCount" caption="Orders" alignment="center"></dxi-column>
                  </dxi-column>

                  <dxi-column caption="Any day" alignment="center">
                    <dxi-column dataField="AnyDay.clientsCount" caption="Clients" alignment="center"></dxi-column>
                    <dxi-column dataField="AnyDay.recOrdersCount" caption="Orders" alignment="center"></dxi-column>
                  </dxi-column>
          </dx-data-grid>
      </div>
      <dxo-paging [pageSize]="7"></dxo-paging>
      <dxo-pager
          [showPageSizeSelector]="true"
          [allowedPageSizes]="[7, 14, 21]"
          [showNavigationButtons]="true">
      </dxo-pager>
</dx-data-grid>
<mat-card *ngIf="dataIsLoading"
   style="display: flex; justify-content: center; align-items: center; flex-flow: column nowrap">
  <h4>Data is Loading...</h4>
  <mat-progress-spinner
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</mat-card>
<dx-load-panel
    #loadPanel
    shadingColor="rgba(0,0,0,0.4)"
    [position]="{ of: '#gridContainer' }"
    [visible]="pager.loadingVisible"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    [closeOnOutsideClick]="false"
    (onShowing)="shown()">
</dx-load-panel>
