dx-data-grid > table {
  width: 100% !important;
}

::ng-deep #gridContainer {
  height: auto;
}

::ng-deep #gridContainer .dx-datagrid-headers {
  color: black;
  font-size: 1.15em;
}

::ng-deep #gridContainer >.dx-datagrid-content table > tbody tr > td .dx-datagrid-headers table > tbody > tr > td:not(:first-child),
::ng-deep #gridContainer > .dx-datagrid-content table > tbody tr > td .dx-datagrid-content table > tbody > tr > td:not(:first-child),
::ng-deep #gridContainer .dx-datagrid-headers > .dx-datagrid-content > table tbody > tr > td,
::ng-deep #gridContainer .dx-datagrid-content > table > tbody tr > td {
  text-align: center !important;
}

::ng-deep #gridContainer .dx-datagrid-content table tbody tr > td {
  padding: 1em;
}
