<div class="grafanData" *ngIf="!dataIsLoading">
  <iframe src="https://grafana.kt.ua/d/WjhQor0ik/information?refresh=5m&orgId=1&from=1538870400000&to=1538956799999&var-TT=All"
  frameborder="0"
  class="selling"
  ></iframe>
</div>
<mat-card *ngIf="dataIsLoading"
   class="graphicsLoading"
   style="display: flex; justify-content: center; align-items: center; flex-flow: column nowrap">
  <h4>Graphics are Loading...</h4>
  <mat-progress-spinner
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</mat-card>
