.googleMapContainer {
  margin-top: 4em;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

::ng-deep .agm-map-container-inner {
  position: absolute;
}

agm-map {
  width: 67%;
  height: 630px;
}

#street-view {
  width: 33%;
}
