.googleMapContainer {
  margin-top: 4em;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}

.searchField {
  position: relative;
}

.fa-search {
  position: absolute;
  right: 1em;
  top: .4em;
  cursor: pointer;
}

::ng-deep .agm-map-container-inner {
  position: absolute;
}

agm-map {
  height: 630px;
}

.googleMapAsideContainer {
  width: 25%;
}

.googleMapSearchContainer {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

.googleMapSearchContainer .googleMapSearch {
  padding: .5em 12em .5em 0;
  font-size: .8em;
}

::-webkit-input-placeholder {
  position: absolute;
}


.googleMapAsideContainer #streetView {
  width: 100%;
  height: 100%;
}


