<div class="googleMapContainer">
 <div class="googleMapSearchContainer">
  <div class="searchField">
    <input
      type="text"
      placeholder="Find Location"
      class="googleMapSearch" #direction
      (keyup.enter)="showOnMap(direction.value)">
    <i
      class="fas fa-search"
      (click)="showOnMap(direction.value)">
    </i>
  </div>
 </div>
 <agm-map
     [ngStyle]="{'width': googleMapWidthHandler()}"
     [zoom]="6"
     [latitude]="googleMapService.mark.lat"
     [longitude]="googleMapService.mark.lng"
     (mapClick)="replaceMark($event)">
   <agm-marker
     [latitude]="googleMapService.mark.lat"
     [longitude]="googleMapService.mark.lng"
     [markerDraggable]="true"
     *ngIf="googleMapService.showMark"
     (dragEnd)="replaceMark($event)">
   </agm-marker>
   <app-google-map-wrapper (mapLoad)='initMap($event)'></app-google-map-wrapper>
 </agm-map>
 <aside class="googleMapAsideContainer" [ngStyle]="{'display': showStreetViewPano()}">
     <div id="streetView" #streetView ></div>
 </aside>
</div>

